{% extends 'base.html.twig' %}

{% block title %} Les saisons {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-5 mb-5 text-uppercase">| TOUTES LES SAISONS |</h1>
        <table class="table text-light">
            <thead>
                <tr>
                    <th>#</th>
                    <th>N°</th>
                    <th>ANNÉE</th>
                    <th>DESCRIPTION</th>
                    <th>ACTIONS</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for season in seasons %}
                <tr>
                    <td>{{ season.id }}</td>
                    <td>{{ season.number }}</td>
                    <td>{{ season.year }}</td>
                    <td>{{ season.description }}</td>
                    <td><button class="btn btn-light"><a type="button" class="text-reset text-decoration-none" data-bs-toggle="modal" data-bs-target="#saison{{ season.id }}">Voir</a></button>
                        <div class="season">
                            <div class="mt-3">
                                <div class="modal fade" id="saison{{ season.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content bg-dark">
                                            <div class="modal-header">
                                                <h5 class="modal-title text-uppercase" id="exampleModalLabel">| SAISON {{ season.number }} |</h5>
                                                <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <h6 class="mb-3 fst-italic">{{ season.year }}</h6>
                                                <p class="mt-3 mb-3">{{ season.description }}</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-light"><a href="{{ path('season_edit', {'id': season.id}) }}" class="text-reset text-decoration-none">Modifier</a></button>
                                                <button class="btn btn-light"><a data-bs-toggle="modal" data-bs-target="#delete{{ season.id }}">Supprimer</a></button>
                                                <div class="modal fade" id="delete{{ season.id }}" tabindex="-1" aria-labelledby="delete" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content text-dark">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Souhaitez-vous supprimer définitivement cette saison ?</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-footer">
                                                                {{ include('season/_delete_form.html.twig') }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td><button class="btn btn-light"><a href="{{ path('season_edit', {'id': season.id}) }}" class="text-reset text-decoration-none">Modifier</a></button></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucune donnée.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-end mt-3"><button class="btn btn-light"><a href="{{ path('season_new') }}" class="text-reset text-decoration-none">Créer une nouvelle saison</a></button></div>
    </div>
{% endblock %}
