{% extends 'base.html.twig' %}

{% block title %} Les saisons {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-5 mb-5 text-uppercase">| TOUTES LES SAISONS |</h1>
        <table class="table text-light">
            <thead>
                <tr>
                    <th>#</th>
                    <th>NUMÉRO</th>
                    <th>ANNÉE</th>
                    <th>DESCRIPTION</th>
                    <th>ACTIONS</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for season in seasons %}
                <tr>
                    <td>{{ season.id }}</td>
                    <td>{{ season.number }}</td>
                    <td>{{ season.year }}</td>
                    <td>{{ season.description }}</td>
                    <td><button class="btn btn-light"><a href="{{ path('season_show', {'id': season.id}) }}" class="text-reset text-decoration-none">Voir</a></button></td>
                    <td><button class="btn btn-light"><a href="{{ path('season_edit', {'id': season.id}) }}" class="text-reset text-decoration-none">Modifier</a></button></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucune donnée.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-dark mt-3"><a href="{{ path('season_new') }}" class="text-reset text-decoration-none">Créer une nouvelle saison</a></button>
    </div>
{% endblock %}
