{% extends 'base.html.twig' %}

{% block title %} {{ program.title }} | Saison {{ season.number }} {% endblock %}

{% block body %}
    <div class="container">
        <div class="card cardblack m-5 border-white">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <img class="card-img-top" src="{{ program.poster }}" alt="{{ program.title }} poster">
                </div>
                <div class="col-sm-12 col-md-12 col-lg-8">
                    <div class="card-body text-white">
                        <h1 class="mt-5 mb-5 text-uppercase"> {{ program.title }} | SAISON {{ season.number }}</h1>
                        <p class="mb-3">{{ season.description }}</p>
                        <h4 class="mb-3">Liste des épisodes</h4>
                        <div class="season border-top border-color-white">
                            {% for episode in episodes %}
                                <div class="mt-3">
                                    <a type="button" class="text-reset text-decoration-none" data-bs-toggle="modal" data-bs-target="#episode{{ episode.number }}"><h6 class="fst-italic">{{ episode.number }} | {{ episode.title }}</h6></a>
                                    <div class="modal fade" id="episode{{ episode.number }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content bg-dark">
                                                <div class="modal-header">
                                                    <h5 class="modal-title text-uppercase" id="exampleModalLabel">{{ program.title }} | SAISON {{ season.number }}</h5>
                                                    <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <h6 class="mb-3 fst-italic">ÉPISODE {{ episode.number }} | {{ episode.title }}</h6>
                                                    <p class="mt-3 mb-3">{{ episode.synopsis }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="retour d-flex justify-content-center mt-5">
            <button class="btn btn-dark">
                <a class="text-reset text-decoration-none" href="{{ path("program_show", { id: program.id }) }}">Retour à la fiche de {{ program.title }}</a>
            </button>
        </div>
    </div>
{% endblock %}
