<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">WILD SERIES</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/programs">| SÉRIES |</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">| CATÉGORIES |</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item text-reset text-decoration-none" href="{{ path("category_index") }}">| TOUTES LES CATÉGORIES |</a></li>
                    <li><a class="dropdown-item text-reset text-decoration-none" href="/categories/horreur/">| HORREUR |</a></li>
                    <li><a class="dropdown-item text-reset text-decoration-none" href="/categories/action/">| ACTION |</a></li>
                    <li><a class="dropdown-item text-reset text-decoration-none" href="/categories/aventure/">| AVENTURE |</a></li>
                    <li><a class="dropdown-item text-reset text-decoration-none" href="/categories/animation/">| ANIMATION |</a></li>
                    <li><a class="dropdown-item text-reset text-decoration-none" href="/categories/fantastique/">| FANTASTIQUE |</a></li>
                </ul>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/season/">| SAISONS |</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/episode/">| ÉPISODES |</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">| AJOUTER |</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item text-reset text-decoration-none" href="/programs/new">| AJOUTER UNE SÉRIE |</a></li>
                    <li><a class="dropdown-item text-reset text-decoration-none" href="/categories/new">| AJOUTER UNE CATÉGORIE |</a></li>
                    <li><a class="dropdown-item text-reset text-decoration-none" href="/season/new">| AJOUTER UNE SAISON |</a></li>
                    <li><a class="dropdown-item text-reset text-decoration-none" href="/episode/new">| AJOUTER UN ÉPISODE |</a></li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="connexion px-3">
        {% if app.user %}
            <a class="connexion text-decoration-none" href="{{ path('app_profile') }}">| MON COMPTE |</a>
            <a class="connexion text-decoration-none" href="{{ path('app_logout') }}">| SE DÉCONNECTER |</a>
        {% else %}
            <a class="connexion text-decoration-none" href="{{ path('app_login') }}">| SE CONNECTER |</a>
            <a class="connexion text-decoration-none" href="{{ path('app_register') }}">| S'ENREGISTRER |</a>
        {% endif %}
    </div>
    <div class="search">
        <div class="d-flex">
            {% include '_search.html.twig' %}
        </div>
    </div>
  </div>
</nav>